*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/projectFilesBackup
/.idea
/libraries

# key
HuashiApp.jks
app/HuashiApp.jks
keystore.properties

# freeline 
freeline.py
freeline/*
freeline_project_description.json
# apk
*.apk

# log
.log

