*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/projectFilesBackup
/.idea
/libraries

# freeline 
freeline.py
freeline/
freeline_project_description.json

# apk
*.apk
