<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.muxi.huashiapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取设备唯一标识-->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取访问用户账户名的权限用以精准匹配标签(可选)-->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--<provider-->
            <!--android:name="br.com.mauker.materialsearchview.db.HistoryProvider"-->
            <!--android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"-->
            <!--android:exported="false"-->
            <!--android:protectionLevel="signature"-->
            <!--android:syncable="true"/>-->

        <meta-data
            android:value="9197e7dd1e5c40cab4556a8b7c3145d3" android:name = "ZHUGE_APPKEY"/>
        <meta-data
            android:value="校园通" android:name = "ZHUGE_CHANNEL"/>


        <activity android:name=".login.LoginActivity"
                  android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name=".schedule.ScheduleActivity"
            android:launchMode="singleTask"
        />

        <activity android:name=".score.ScoreActivity"/>

        <activity android:name=".common.ui.SettingActivity"/>


        <activity android:name=".common.ui.MainActivity"/>

        <activity android:name=".common.ui.DetailActivity"/>
        <!--<android:parentActivityName=".common.ui.NewsActivity"/>-->
        <activity android:name=".library.LibraryActivity"/>

        <activity android:name=".library.LibrarySearchActivity"/>

        <activity android:name=".library.LibraryLoginActivity"/>

        <activity android:name=".library.MineActivity"/>

        <receiver android:name=".common.service.AlarmLiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".common.service.AlarmReceiveer">
            <intent-filter>
                <action android:name="net.muxi.huashiapp.alarm"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>