<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.muxi.huashiapp">



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--获取设备唯一标识-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取访问用户账户名的权限用以精准匹配标签(可选)-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--微信权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--小米推送所需要的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="net.muxi.huashiapp.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <!--高德地图定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="net.muxi.huashiapp.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->

    <!--安卓8.0安装应用权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data android:value="58b55d3d8f4a9d21ce0013ed" android:name="UMENG_APPKEY"/>
        <meta-data android:value="校园通" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".ui.EntranceActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GuideActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="net.muxi.huashiapp.ui.main.MainActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustResize">


        </activity>

        <activity android:name=".ui.main.DetailActivity"/>

        <activity
            android:name="net.muxi.huashiapp.ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="net.muxi.huashiapp.ui.SettingActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.timeTable.CourseEditActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.timeTable.CourseAuditResultActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.timeTable.CourseAuditSearchActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.timeTable.CurweekSetActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.score.activtities.ScoreDisplayActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.news.NewsActivity"
            android:launchMode="singleTask"/>


        <activity
            android:name="net.muxi.huashiapp.ui.library.LibrarySearchActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.library.LibrarySearchResultActivity"/>

        <activity android:name=".ui.library.BookDetailActivity"/>

        <activity
            android:name="net.muxi.huashiapp.ui.card.CardActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.webview.WebViewActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
            </intent-filter>
        </activity>

        <activity
            android:name="net.muxi.huashiapp.ui.website.WebsiteActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.apartment.ApartmentActivity"
            android:launchMode="singleTask"/>

        <activity android:name="net.muxi.huashiapp.ui.CalendarActivity"
            android:launchMode="singleTask"/>

        <activity android:name="net.muxi.huashiapp.ui.AboutActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.MoreActivity"
            android:launchMode="singleTask"/>

        <activity android:name="net.muxi.huashiapp.ui.electricity.ElectricityActivity"
            android:launchMode="singleTask"/>

        <activity android:name="net.muxi.huashiapp.ui.electricity.ElectricityDetailActivity"/>

        <activity android:name=".ui.electricity.ElectricityAreaOptionActivity"/>

        <activity android:name="net.muxi.huashiapp.ui.InfoActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.SuggestionActivity"/>

        <activity
            android:name=".ui.studyroom.StudyRoomActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.studyroom.StudyRoomDetailActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.studyroom.StudyAreaOptionActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.studyroom.StudyRoomBlankActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.score.activtities.ScoreCreditActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.location.MapActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.location.PointDetailActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="net.muxi.huashiapp.ui.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"/>

        <receiver android:name="net.muxi.huashiapp.service.AlarmLiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="net.muxi.huashiapp.service.AlarmReceiver">
            <intent-filter>
                <action android:name="net.muxi.huashiapp.alarm"/>
            </intent-filter>
        </receiver>

        <service android:name="net.muxi.huashiapp.service.DownloadService"/>

        <!--第三方开放平台-->

        <meta-data
            android:name="ZHUGE_APPKEY"
            android:value="9197e7dd1e5c40cab4556a8b7c3145d3"/>
        <meta-data
            android:name="ZHUGE_CHANNEL"
            android:value="校园通"/>

        <!--高德地图dubug api key-->
        <!--wpy:936bf6af54eb102378866d707d996639 -->
        <!--zdf:d3dac874cd84bd098d7744d07d87421b -->
        <!--pmy:8c11f6ae2c754927abfb535f5a8a859d -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="936bf6af54eb102378866d707d996639"/>


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105548375"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.muxi.huashiapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name="net.muxi.huashiapp.provider.ScheduleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.WidgetProvider"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_provider"/>
        </receiver>


        <service
            android:name="net.muxi.huashiapp.service.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <service
            android:name="com.amap.api.location.APSService">
        </service>


        <!--小米推送 所需要配置的service 和 receiver-->
        <service
            android:enabled="true" android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true" android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />

        <service
            android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />

        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <!--自定义的receiver 接受消息-->
         <receiver
             android:exported= "true"
             android:name="net.muxi.huashiapp.service.HuashiPushMessageReceiver">

             <intent-filter>
                 <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
             </intent-filter>
             <intent-filter>
                 <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
             </intent-filter>
             <intent-filter>
                 <action android:name="com.xiaomi.mipush.ERROR" />
             </intent-filter>
         </receiver>

    </application>

</manifest>